p {
color: rgb(149, 0, 255) ;
}
.green{
    color: green;
}
#red {
    
color:red; font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 15px;
font-weight: 750;
font-style: italic;
text-align: justify;
text-transform: uppercase;
text-decoration: underline rgb(212, 32, 32);
text-shadow: 3px 3px 4px rgb(212, 32, 32);
text-indent: 150px;
line-height: 80px;
word-spacing:  5px;
letter-spacing: 2px;

}

body{

    background-image: url('https://i1.wallbox.ru/wallpapers/main/201133/temno-ochen-temno-f3cbb64.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: round;
    background-repeat: repeat-y;
    background-position: 5% ;
    background-attachment: fixed;
    scroll-behavior: unset;
}